In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [166]:
mortality_url = 'UN_MortalityData.csv'
mortality = pd.read_csv(mortality_url,skiprows = 1,encoding = 'ISO-8859-1')
# source: UN.org
new_columns_map = dict(zip(mortality.columns,['RegionCode', 'RegionName', 'Year', 'Series', 'Value','Footnotes', 'Source']))
mortality.rename(columns = new_columns_map, inplace = True)

In [174]:
mortality.groupby('Year').count()

      RegionCode  RegionName  Series  Value  Footnotes  Source
Year
2000          15          15      15     15          4      15
2001           8           8       8      8          0       8
2002           3           3       3      3          0       3
2003           2           2       2      2          0       2
2004          11          11      11     11          3      11
2005        1618        1618    1618   1618       1422    1618
2006           9           9       9      9          2       9
2007           4           4       4      4          3       4
2008           6           6       6      6          1       6
2009           3           3       3      3          0       3
2010        1626        1626    1626   1626       1426    1626
2011          13          13      13     13          8      13
2012          11          11      11     11          4      11
2013          19          19      19     19         13      19
2014           3           3       3      3          2       3
2015        1620        1620    1620   1620       1427    1620
2016           7           7       7      7          4       7

In [179]:
mortality[mortality.Year == 2005]['RegionName']

0       Total, all countries or areas
1       Total, all countries or areas
2       Total, all countries or areas
3       Total, all countries or areas
4       Total, all countries or areas
5       Total, all countries or areas
6       Total, all countries or areas
21                             Africa
22                             Africa
23                             Africa
24                             Africa
25                             Africa
26                             Africa
39                    Northern Africa
40                    Northern Africa
41                    Northern Africa
42                    Northern Africa
43                    Northern Africa
44                    Northern Africa
45                    Northern Africa
60                 Sub-Saharan Africa
61                 Sub-Saharan Africa
62                 Sub-Saharan Africa
63                 Sub-Saharan Africa
64                 Sub-Saharan Africa
65                 Sub-Saharan Africa
66                 Sub-Saharan Africa
81                     Eastern Africa
82                     Eastern Africa
83                     Eastern Africa
                    ...
4871                         Viet Nam
4872                         Viet Nam
4889        Wallis and Futuna Islands
4897                   Western Sahara
4898                   Western Sahara
4899                   Western Sahara
4900                   Western Sahara
4901                   Western Sahara
4902                   Western Sahara
4915                            Yemen
4916                            Yemen
4917                            Yemen
4918                            Yemen
4919                            Yemen
4920                            Yemen
4921                            Yemen
4936                           Zambia
4937                           Zambia
4938                           Zambia
4939                           Zambia
4940                           Zambia
4941                           Zambia
4942                           Zambia
4957                         Zimbabwe
4958                         Zimbabwe
4959                         Zimbabwe
4960                         Zimbabwe
4961                         Zimbabwe
4962                         Zimbabwe
4963                         Zimbabwe
Name: RegionName, Length: 1618, dtype: object