# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [3]:
!pwd
!ls -al

/c/Users/Michelle/Documents/DataScience/Flatiron/ClassModules/dc-ds-071519/1-Module/week-2/day-6-pandas-part-2
total 69
drwxr-xr-x 1 Michelle 197121     0 Jul 22 09:43 .
drwxr-xr-x 1 Michelle 197121     0 Jul 22 09:36 ..
drwxr-xr-x 1 Michelle 197121     0 Jul 22 09:39 .ipynb_checkpoints
-rw-r--r-- 1 Michelle 197121 11325 Jul 22 09:43 heart.csv
-rw-r--r-- 1 Michelle 197121 18136 Jul 22 09:36 manipulating_data_with_pandas.ipynb
-rw-r--r-- 1 Michelle 197121 25835 Jul 22 09:43 manipulating_data_with_pandas-MJK.ipynb
-rw-r--r-- 1 Michelle 197121  3356 Jul 22 09:36 pre_process_animal_shelter_data.py
-rw-r--r-- 1 Michelle 197121   136 Jul 22 09:36 states.csv

In [4]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [5]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [8]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [9]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [10]:
# Call the .info() method on our dataset. What do you observe?
# Column names, lengths, any nulls (non-null means no), data types
uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [12]:
# Call the .describe() method on our dataset. What do you observe?
# 5 point distribution and descriptions
uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [13]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [26]:
uci.mean()['age']

54.366336633663366

#### The Axis Variable

In [27]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [28]:
uci['age'].value_counts()[:10] # this is so useful.

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [30]:
# Your code here!
uci['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [31]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [34]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [36]:
animal_outcomes['Breed'].value_counts()[:10]

Domestic Shorthair Mix       29921
Pit Bull Mix                  7934
Labrador Retriever Mix        6181
Chihuahua Shorthair Mix       5984
Domestic Medium Hair Mix      3018
German Shepherd Mix           2685
Bat Mix                       1741
Domestic Shorthair            1688
Domestic Longhair Mix         1487
Australian Cattle Dog Mix     1345
Name: Breed, dtype: int64

In [47]:
animal_outcomes[(animal_outcomes['Animal Type']=='Dog')].Breed.value_counts()[:5]
# top dogs are pit bulls

Pit Bull Mix                 7934
Labrador Retriever Mix       6181
Chihuahua Shorthair Mix      5984
German Shepherd Mix          2685
Australian Cattle Dog Mix    1345
Name: Breed, dtype: int64

In [46]:
animal_outcomes[(animal_outcomes['Animal Type']=='Dog')\
                & (animal_outcomes['Outcome Type']=='Adoption')\
               ].Breed.value_counts()[:10]

# but adopted dogs are labradors

Labrador Retriever Mix       3117
Pit Bull Mix                 3075
Chihuahua Shorthair Mix      2864
German Shepherd Mix          1356
Australian Cattle Dog Mix     752
Dachshund Mix                 477
Border Collie Mix             459
Boxer Mix                     405
Catahoula Mix                 330
Staffordshire Mix             329
Name: Breed, dtype: int64

In [44]:
animal_outcomes.loc[animal_outcomes['Animal Type']=='Dog']

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A800130,Kolby,07/21/2019 10:56:00 PM,07/21/2019 10:56:00 PM,05/01/2019,Adoption,NaN,Dog,Spayed Female,2 months,Boxer,Brown
1,A799457,Hazel,07/21/2019 10:55:00 PM,07/21/2019 10:55:00 PM,07/08/2013,NaN,NaN,Dog,Spayed Female,6 years,Pit Bull,Tan/White
8,A800468,Lulu,07/21/2019 07:03:00 PM,07/21/2019 07:03:00 PM,07/21/2016,Return to Owner,NaN,Dog,Intact Female,3 years,Pomeranian/Chihuahua Longhair,Buff
9,A800436,Lady,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,07/21/2017,Return to Owner,NaN,Dog,Intact Female,2 years,Pit Bull,Blue/White
10,A800434,Gracie,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,09/21/2014,Return to Owner,NaN,Dog,Intact Female,4 years,Pit Bull,Blue/White
11,A800440,Chief,07/21/2019 06:33:00 PM,07/21/2019 06:33:00 PM,07/21/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Boston Terrier,Black/White
12,A800181,NaN,07/21/2019 06:09:00 PM,07/21/2019 06:09:00 PM,03/17/2019,Adoption,NaN,Dog,Spayed Female,4 months,German Shepherd Mix,Black/Tan
15,A800129,*Delyse,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,07/16/2018,Adoption,NaN,Dog,Spayed Female,1 year,German Shepherd/Siberian Husky,Brown/Black
22,A800185,Celest,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,01/17/2019,Adoption,NaN,Dog,Spayed Female,6 months,Labrador Retriever,White
23,A793174,*Wilbur,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,04/20/2017,Adoption,Foster,Dog,Neutered Male,2 years,Staffordshire Mix,Blue Cream
28,A718877,Blacky,07/21/2019 05:01:00 PM,07/21/2019 05:01:00 PM,07/08/2015,Return to Owner,NaN,Dog,Neutered Male,4 years,Labrador Retriever Mix,Black/White
29,A799757,Daisy,07/21/2019 04:59:00 PM,07/21/2019 04:59:00 PM,01/11/2019,Adoption,NaN,Dog,Spayed Female,6 months,Collie Smooth,Black/White
30,A799827,NaN,07/21/2019 04:44:00 PM,07/21/2019 04:44:00 PM,05/20/2019,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever,Red/White
32,A800178,Sohma,07/21/2019 04:32:00 PM,07/21/2019 04:32:00 PM,09/17/2018,Adoption,NaN,Dog,Neutered Male,10 months,Border Collie Mix,Black/White
36,A799270,Lana,07/21/2019 02:53:00 PM,07/21/2019 02:53:00 PM,07/06/2018,Adoption,NaN,Dog,Spayed Female,1 year,Labrador Retriever Mix,Tan
39,A795337,*Cello,07/21/2019 02:06:00 PM,07/21/2019 02:06:00 PM,05/19/2017,Adoption,NaN,Dog,Intact Male,2 years,Pit Bull,Tan
41,A800428,Little One,07/21/2019 01:59:00 PM,07/21/2019 01:59:00 PM,07/20/2007,Return to Owner,NaN,Dog,Spayed Female,12 years,Chihuahua Shorthair,Brown/White
54,A799127,NaN,07/21/2019 01:17:00 PM,07/21/2019 01:17:00 PM,05/21/2019,Adoption,NaN,Dog,Spayed Female,1 month,Australian Shepherd Mix,Brown Brindle
56,A763871,Guardian,07/21/2019 12:55:00 PM,07/21/2019 12:55:00 PM,06/18/2012,Adoption,Foster,Dog,Neutered Male,7 years,Great Pyrenees Mix,Cream
58,A799968,*Julie,07/21/2019 12:48:00 PM,07/21/2019 12:48:00 PM,07/14/2017,Adoption,NaN,Dog,Spayed Female,2 years,Golden Retriever/Chow Chow,Red
59,A760521,Margo,07/21/2019 12:00:00 PM,07/21/2019 12:00:00 PM,10/19/2016,Adoption,NaN,Dog,Spayed Female,2 years,Akita Mix,White/Brown
70,A758151,Sock,07/21/2019 11:07:00 AM,07/21/2019 11:07:00 AM,01/17/2016,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,White
77,A791032,Weda,07/21/2019 12:00:00 AM,07/21/2019 12:00:00 AM,07/16/2018,Died,In Kennel,Dog,Spayed Female,1 year,Maltese,White/Tan
86,A772366,Osiris,07/20/2019 06:56:00 PM,07/20/2019 06:56:00 PM,05/18/2016,Return to Owner,NaN,Dog,Intact Male,3 years,Pit Bull Mix,Blue/White
87,A800143,NaN,07/20/2019 06:35:00 PM,07/20/2019 06:35:00 PM,05/16/2019,Transfer,Partner,Dog,Neutered Male,2 months,Chihuahua Longhair/Dachshund Longhair,Brown/Tan
88,A800142,NaN,07/20/2019 06:35:00 PM,07/20/2019 06:35:00 PM,05/16/2019,Transfer,Partner,Dog,Intact Male,2 months,Chihuahua Longhair,White/Tan
90,A800140,NaN,07/20/2019 06:34:00 PM,07/20/2019 06:34:00 PM,05/16/2019,Transfer,Partner,Dog,Intact Male,2 months,Chihuahua Longhair,Black/Brown
91,A800141,NaN,07/20/2019 06:34:00 PM,07/20/2019 06:34:00 PM,05/16/2019,Transfer,Partner,Dog,Intact Male,2 months,Chihuahua Longhair,White
92,A800139,NaN,07/20/2019 06:34:00 PM,07/20/2019 06:34:00 PM,05/16/2019,Transfer,Partner,Dog,Intact Male,2 months,Chihuahua Longhair,Black/Brown
93,A800109,Kiya,07/20/2019 06:33:00 PM,07/20/2019 06:33:00 PM,07/16/2016,Adoption,NaN,Dog,Spayed Female,3 years,Alaskan Husky,Black/White
...,...,...,...,...,...,...,...,...,...,...,...,...
104389,A660781,*Hank,10/02/2013 08:31:00 AM,10/02/2013 08:31:00 AM,06/24/2013,Adoption,Foster,Dog,Neutered Male,3 months,Labrador Retriever Mix,Black/White
104390,A664234,NaN,10/01/2013 07:09:00 PM,10/01/2013 07:09:00 PM,10/01/2005,Euthanasia,Suffering,Dog,Intact Male,8 years,Border Collie Mix,Black/White
104393,A658012,Lucio,10/01/2013 06:27:00 PM,10/01/2013 06:27:00 PM,07/05/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Chihuahua Shorthair Mix,Red
104394,A664031,Willow,10/01/2013 06:24:00 PM,10/01/2013 06:24:00 PM,07/27/2013,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd Mix,Black/Tan
104395,A664151,Mantequilla,10/01/2013 06:19:00 PM,10/01/2013 06:19:00 PM,09/30/2008,Return to Owner,NaN,Dog,Neutered Male,5 years,Chihuahua Shorthair,Red
104398,A664032,Parker,10/01/2013 05:18:00 PM,10/01/2013 05:18:00 PM,07/27/2013,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd Mix,Black/Tan
104399,A663827,NaN,10/01/2013 05:02:00 PM,10/01/2013 05:02:00 PM,01/29/2013,Adoption,NaN,Dog,Neutered Male,8 months,Labrador Retriever Mix,Brown
104407,A664280,Coco,10/01/2013 03:51:00 PM,10/01/2013 03:51:00 PM,10/01/2007,Return to Owner,NaN,Dog,Spayed Female,6 years,Miniature Poodle Mix,Apricot
104408,A662104,Gracie,10/01/2013 03:47:00 PM,10/01/2013 03:47:00 PM,08/29/2010,Adoption,NaN,Dog,Spayed Female,3 years,Labrador Retriever Mix,Black/White
104409,A521520,Nina,10/01/2013 03:39:00 PM,10/01/2013 03:39:00 PM,09/07/2006,Return to Owner,NaN,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan
104410,A664233,Stevie,10/01/2013 03:33:00 PM,10/01/2013 03:33:00 PM,09/30/2010,Euthanasia,Suffering,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White
104411,A663886,Trudy,10/01/2013 03:08:00 PM,10/01/2013 03:08:00 PM,09/25/2011,Euthanasia,Medical,Dog,Spayed Female,2 years,Pit Bull Mix,Black/White
104412,A663887,Hooch,10/01/2013 03:07:00 PM,10/01/2013 03:07:00 PM,09/25/2010,Euthanasia,Medical,Dog,Neutered Male,3 years,Pit Bull Mix,Red/White
104413,A663935,NaN,10/01/2013 02:15:00 PM,10/01/2013 02:15:00 PM,09/26/1999,Transfer,Partner,Dog,Intact Male,14 years,Chihuahua Shorthair Mix,Brown
104414,A663201,Buck,10/01/2013 02:14:00 PM,10/01/2013 02:14:00 PM,09/14/2011,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White
104415,A663955,NaN,10/01/2013 02:13:00 PM,10/01/2013 02:13:00 PM,09/27/1999,Transfer,Partner,Dog,Intact Female,14 years,Chihuahua Shorthair Mix,Black/Tan
104416,A664171,Knight,10/01/2013 01:59:00 PM,10/01/2013 01:59:00 PM,12/30/2012,Return to Owner,NaN,Dog,Neutered Male,9 months,Basset Hound Mix,Black
104417,A663938,NaN,10/01/2013 01:16:00 PM,10/01/2013 01:16:00 PM,09/27/2003,Euthanasia,Suffering,Dog,Neutered Male,10 years,Rottweiler/Labrador Retriever,Black/Tan
104425,A613553,Beast,10/01/2013 12:32:00 PM,10/01/2013 12:32:00 PM,05/06/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,Black/White
104426,A664258,Sylvio,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,10/01/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
104427,A648744,Claire,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,03/04/2012,Return to Owner,NaN,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
104428,A663546,*Gage,10/01/2013 12:24:00 PM,10/01/2013 12:24:00 PM,09/20/2011,Euthanasia,Aggressive,Dog,Neutered Male,2 years,American Bulldog Mix,White/Brown Brindle
104429,A664225,Lou,10/01/2013 12:13:00 PM,10/01/2013 12:13:00 PM,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Shih Tzu Mix,Gray/White
104430,A663342,Deco,10/01/2013 12:05:00 PM,10/01/2013 12:05:00 PM,09/17/2012,Euthanasia,Behavior,Dog,Neutered Male,1 year,Chesa Bay Retr Mix,Red/White
104433,A663833,Baby Girl,10/01/2013 11:50:00 AM,10/01/2013 11:50:00 AM,09/24/2004,Return to Owner,NaN,Dog,Spayed Female,9 years,Labrador Retriever Mix,Black
104434,A663572,*Starla,10/01/2013 11:42:00 AM,10/01/2013 11:42:00 AM,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown
104435,A663888,NaN,10/01/2013 11:13:00 AM,10/01/2013 11:13:00 AM,09/25/2011,Transfer,Partner,Dog,Spayed Female,2 years,Boxer Mix,Red/White
104436,A663646,NaN,10/01/2013 11:12:00 AM,10/01/2013 11:12:00 AM,09/22/2010,Transfer,Partner,Dog,Neutered Male,3 years,Toy Poodle Mix,White
104437,A664223,Moby,10/01/2013 11:03:00 AM,10/01/2013 11:03:00 AM,09/30/2009,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White
104441,A659834,*Dudley,10/01/2013 09:31:00 AM,10/01/2013 09:31:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black

In [48]:
animal_outcomes[(animal_outcomes['Animal Type']=='Dog')\
                & (animal_outcomes['Outcome Type']=='Adoption')\
               ] # so this works ok. same as loc.

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A800130,Kolby,07/21/2019 10:56:00 PM,07/21/2019 10:56:00 PM,05/01/2019,Adoption,NaN,Dog,Spayed Female,2 months,Boxer,Brown
12,A800181,NaN,07/21/2019 06:09:00 PM,07/21/2019 06:09:00 PM,03/17/2019,Adoption,NaN,Dog,Spayed Female,4 months,German Shepherd Mix,Black/Tan
15,A800129,*Delyse,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,07/16/2018,Adoption,NaN,Dog,Spayed Female,1 year,German Shepherd/Siberian Husky,Brown/Black
22,A800185,Celest,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,01/17/2019,Adoption,NaN,Dog,Spayed Female,6 months,Labrador Retriever,White
23,A793174,*Wilbur,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,04/20/2017,Adoption,Foster,Dog,Neutered Male,2 years,Staffordshire Mix,Blue Cream
29,A799757,Daisy,07/21/2019 04:59:00 PM,07/21/2019 04:59:00 PM,01/11/2019,Adoption,NaN,Dog,Spayed Female,6 months,Collie Smooth,Black/White
30,A799827,NaN,07/21/2019 04:44:00 PM,07/21/2019 04:44:00 PM,05/20/2019,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever,Red/White
32,A800178,Sohma,07/21/2019 04:32:00 PM,07/21/2019 04:32:00 PM,09/17/2018,Adoption,NaN,Dog,Neutered Male,10 months,Border Collie Mix,Black/White
36,A799270,Lana,07/21/2019 02:53:00 PM,07/21/2019 02:53:00 PM,07/06/2018,Adoption,NaN,Dog,Spayed Female,1 year,Labrador Retriever Mix,Tan
39,A795337,*Cello,07/21/2019 02:06:00 PM,07/21/2019 02:06:00 PM,05/19/2017,Adoption,NaN,Dog,Intact Male,2 years,Pit Bull,Tan
54,A799127,NaN,07/21/2019 01:17:00 PM,07/21/2019 01:17:00 PM,05/21/2019,Adoption,NaN,Dog,Spayed Female,1 month,Australian Shepherd Mix,Brown Brindle
56,A763871,Guardian,07/21/2019 12:55:00 PM,07/21/2019 12:55:00 PM,06/18/2012,Adoption,Foster,Dog,Neutered Male,7 years,Great Pyrenees Mix,Cream
58,A799968,*Julie,07/21/2019 12:48:00 PM,07/21/2019 12:48:00 PM,07/14/2017,Adoption,NaN,Dog,Spayed Female,2 years,Golden Retriever/Chow Chow,Red
59,A760521,Margo,07/21/2019 12:00:00 PM,07/21/2019 12:00:00 PM,10/19/2016,Adoption,NaN,Dog,Spayed Female,2 years,Akita Mix,White/Brown
93,A800109,Kiya,07/20/2019 06:33:00 PM,07/20/2019 06:33:00 PM,07/16/2016,Adoption,NaN,Dog,Spayed Female,3 years,Alaskan Husky,Black/White
94,A800144,NaN,07/20/2019 06:32:00 PM,07/20/2019 06:32:00 PM,05/05/2019,Adoption,NaN,Dog,Spayed Female,2 months,Labrador Retriever,Red
96,A798865,Kourage,07/20/2019 06:31:00 PM,07/20/2019 06:31:00 PM,07/01/2018,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Longhair,Black/Tricolor
98,A800121,Skylar,07/20/2019 06:18:00 PM,07/20/2019 06:18:00 PM,01/27/2017,Adoption,NaN,Dog,Spayed Female,2 years,Pit Bull,Gray/White
100,A800323,NaN,07/20/2019 05:37:00 PM,07/20/2019 05:37:00 PM,05/19/2019,Adoption,NaN,Dog,Spayed Female,2 months,Pit Bull,Tan/White
101,A799875,NaN,07/20/2019 05:30:00 PM,07/20/2019 05:30:00 PM,05/22/2019,Adoption,NaN,Dog,Spayed Female,1 month,Pekingese,Black
102,A799128,NaN,07/20/2019 05:27:00 PM,07/20/2019 05:27:00 PM,05/21/2019,Adoption,NaN,Dog,Neutered Male,1 month,Australian Shepherd Mix,Black/Brown Brindle
104,A793190,*Polly,07/20/2019 05:05:00 PM,07/20/2019 05:05:00 PM,02/20/2019,Adoption,Foster,Dog,Spayed Female,4 months,Chihuahua Shorthair Mix,Brown/White
105,A800322,NaN,07/20/2019 04:55:00 PM,07/20/2019 04:55:00 PM,05/19/2019,Adoption,NaN,Dog,Spayed Female,2 months,Pit Bull,Tan/White
106,A800067,NaN,07/20/2019 04:48:00 PM,07/20/2019 04:48:00 PM,03/20/2019,Adoption,NaN,Dog,Spayed Female,4 months,Chihuahua Shorthair,Sable
107,A800145,Isla,07/20/2019 04:47:00 PM,07/20/2019 04:47:00 PM,05/05/2019,Adoption,NaN,Dog,Spayed Female,2 months,Labrador Retriever,Red
110,A799126,NaN,07/20/2019 04:34:00 PM,07/20/2019 04:34:00 PM,05/21/2019,Adoption,NaN,Dog,Neutered Male,1 month,Labrador Retriever/Great Pyrenees,Black/White
112,A799125,Prairie,07/20/2019 04:26:00 PM,07/20/2019 04:26:00 PM,05/21/2019,Adoption,NaN,Dog,Spayed Female,1 month,Labrador Retriever/Great Pyrenees,Black/White
113,A799822,NaN,07/20/2019 04:23:00 PM,07/20/2019 04:23:00 PM,05/20/2019,Adoption,NaN,Dog,Spayed Female,1 month,Labrador Retriever,Brown/White
127,A728666,Lacie,07/20/2019 03:05:00 PM,07/20/2019 03:05:00 PM,09/06/2015,Adoption,NaN,Dog,Spayed Female,3 years,Cardigan Welsh Corgi/American Eskimo,Buff
130,A799883,Macho,07/20/2019 03:00:00 PM,07/20/2019 03:00:00 PM,07/13/2009,Adoption,NaN,Dog,Neutered Male,10 years,Yorkshire Terrier/Miniature Poodle,Brown/Black
...,...,...,...,...,...,...,...,...,...,...,...,...
104262,A664133,NaN,10/04/2013 06:41:00 PM,10/04/2013 06:41:00 PM,09/29/2011,Adoption,NaN,Dog,Neutered Male,2 years,Border Terrier/Miniature Schnauzer,Silver
104268,A664078,Rocky,10/04/2013 05:22:00 PM,10/04/2013 05:22:00 PM,11/28/2012,Adoption,NaN,Dog,Neutered Male,10 months,Pointer Mix,Black/White
104273,A664090,*Morgan,10/04/2013 03:14:00 PM,10/04/2013 03:14:00 PM,09/29/2007,Adoption,NaN,Dog,Spayed Female,6 years,Dachshund Longhair Mix,Brown
104283,A603779,*Rain,10/04/2013 11:38:00 AM,10/04/2013 11:38:00 AM,04/18/2011,Adoption,NaN,Dog,Neutered Male,2 years,Labrador Retriever Mix,Yellow/Black
104285,A659835,*Moon Doggie,10/04/2013 09:17:00 AM,10/04/2013 09:17:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever/Doberman Pinsch,Black
104291,A664082,Stella,10/03/2013 06:00:00 PM,10/03/2013 06:00:00 PM,09/28/2012,Adoption,NaN,Dog,Spayed Female,1 year,Norfolk Terrier Mix,Brown/Black
104292,A663995,Biscuit,10/03/2013 05:58:00 PM,10/03/2013 05:58:00 PM,09/27/2011,Adoption,NaN,Dog,Neutered Male,2 years,Maltese Mix,White
104293,A664110,Zazzy,10/03/2013 05:46:00 PM,10/03/2013 05:46:00 PM,09/29/2012,Adoption,NaN,Dog,Spayed Female,1 year,German Shepherd Mix,Black/Tan
104294,A663987,Dodie,10/03/2013 05:45:00 PM,10/03/2013 05:45:00 PM,11/27/2012,Adoption,NaN,Dog,Spayed Female,10 months,Pit Bull Mix,Blue
104295,A664113,Wrigley,10/03/2013 05:39:00 PM,10/03/2013 05:39:00 PM,07/29/2013,Adoption,NaN,Dog,Neutered Male,2 months,German Shepherd Mix,Black/Tan
104297,A663657,NaN,10/03/2013 04:42:00 PM,10/03/2013 04:42:00 PM,05/22/2013,Adoption,NaN,Dog,Neutered Male,4 months,Pembroke Welsh Corgi Mix,White/Cream
104315,A660088,*Rooster,10/03/2013 12:50:00 PM,10/03/2013 12:50:00 PM,06/18/2013,Adoption,Foster,Dog,Neutered Male,3 months,Pit Bull Mix,Blue/White
104335,A663004,*Allie,10/02/2013 06:58:00 PM,10/02/2013 06:58:00 PM,01/14/2013,Adoption,NaN,Dog,Spayed Female,8 months,Bulldog/Australian Cattle Dog,Black/White
104337,A664033,*Billy,10/02/2013 06:40:00 PM,10/02/2013 06:40:00 PM,07/27/2013,Adoption,NaN,Dog,Neutered Male,2 months,German Shepherd Mix,Tan/White
104340,A663878,NaN,10/02/2013 06:16:00 PM,10/02/2013 06:16:00 PM,09/25/2011,Adoption,NaN,Dog,Spayed Female,2 years,Glen Of Imaal Mix,Black
104341,A663956,Haven,10/02/2013 06:06:00 PM,10/02/2013 06:06:00 PM,09/27/2009,Adoption,NaN,Dog,Spayed Female,4 years,Australian Shepherd Mix,Tricolor
104343,A663957,NaN,10/02/2013 05:47:00 PM,10/02/2013 05:47:00 PM,10/27/2012,Adoption,NaN,Dog,Neutered Male,11 months,Siberian Husky/German Shepherd,Buff
104344,A640316,Kato,10/02/2013 05:43:00 PM,10/02/2013 05:43:00 PM,06/08/2012,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Longhair Mix,Black
104349,A664224,Toby,10/02/2013 05:16:00 PM,10/02/2013 05:16:00 PM,10/31/2011,Adoption,NaN,Dog,Neutered Male,1 year,Yorkshire Terrier Mix,Silver/Brown
104363,A650212,*Jaxon,10/02/2013 04:09:00 PM,10/02/2013 04:09:00 PM,03/25/2012,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,Black/White
104376,A663889,Bejon,10/02/2013 01:16:00 PM,10/02/2013 01:16:00 PM,09/25/2011,Adoption,NaN,Dog,Neutered Male,2 years,Labrador Retriever/Beauceron,Black/Tan
104377,A634503,Otter,10/02/2013 12:40:00 PM,10/02/2013 12:40:00 PM,08/11/2011,Adoption,NaN,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan
104378,A663823,*Bowzer,10/02/2013 12:20:00 PM,10/02/2013 12:20:00 PM,09/24/2011,Adoption,NaN,Dog,Neutered Male,2 years,Boston Terrier/Miniature Schnauzer,Brown Brindle/White
104389,A660781,*Hank,10/02/2013 08:31:00 AM,10/02/2013 08:31:00 AM,06/24/2013,Adoption,Foster,Dog,Neutered Male,3 months,Labrador Retriever Mix,Black/White
104394,A664031,Willow,10/01/2013 06:24:00 PM,10/01/2013 06:24:00 PM,07/27/2013,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd Mix,Black/Tan
104398,A664032,Parker,10/01/2013 05:18:00 PM,10/01/2013 05:18:00 PM,07/27/2013,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd Mix,Black/Tan
104399,A663827,NaN,10/01/2013 05:02:00 PM,10/01/2013 05:02:00 PM,01/29/2013,Adoption,NaN,Dog,Neutered Male,8 months,Labrador Retriever Mix,Brown
104408,A662104,Gracie,10/01/2013 03:47:00 PM,10/01/2013 03:47:00 PM,08/29/2010,Adoption,NaN,Dog,Spayed Female,3 years,Labrador Retriever Mix,Black/White
104434,A663572,*Starla,10/01/2013 11:42:00 AM,10/01/2013 11:42:00 AM,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown
104441,A659834,*Dudley,10/01/2013 09:31:00 AM,10/01/2013 09:31:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black

In [38]:
animal_outcomes['Date of Birth'].value_counts()[:10]

09/01/2015    118
05/05/2014    115
05/01/2016    113
04/21/2014    113
04/28/2015    105
04/20/2015    104
04/15/2016    100
04/27/2015     95
04/16/2018     95
04/24/2017     91
Name: Date of Birth, dtype: int64

In [33]:
animal_outcomes['Animal Type'].value_counts()

Dog          59485
Cat          38947
Other         5516
Bird           478
Livestock       16
Name: Animal Type, dtype: int64

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [49]:
def successor(x):
    """adds one to all elements"""
    return x + 1

In [50]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [51]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

In [54]:
uci['age'].map?

In [ ]:
uci['age'].map

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [57]:
uci['oldpeak'][:4]

0    2.3
1    3.5
2    1.4
3    0.8
Name: oldpeak, dtype: float64

In [55]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [62]:
uci['oldpeak'].map(lambda x: str(x))[:4] #recall pandas calls strings objects

0    2.3
1    3.5
2    1.4
3    0.8
Name: oldpeak, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [86]:
animal_outcomes['date_outcomes'] = animal_outcomes.DateTime.map(lambda x: pd.to_datetime(x, format = '%m/%d/%Y %I:%M:%S %p'))

In [88]:
animal_outcomes['date_outcomes'][:10]

0   2019-07-21 22:56:00
1   2019-07-21 22:55:00
2   2019-07-21 19:57:00
3   2019-07-21 19:15:00
4   2019-07-21 19:13:00
5   2019-07-21 19:09:00
6   2019-07-21 19:06:00
7   2019-07-21 19:05:00
8   2019-07-21 19:03:00
9   2019-07-21 18:48:00
Name: date_outcomes, dtype: datetime64[ns]

In [90]:
animal_outcomes.drop(columns = 'DateTime',inplace = True)

In [98]:
animal_outcomes['Date_of_Birth'] = animal_outcomes['Date of Birth'].map(lambda x: pd.to_datetime(x,format = '%m/%d/%Y'))

In [99]:
animal_outcomes['Date_of_Birth'][:10]

0   2019-05-01
1   2013-07-08
2   2019-06-02
3   2019-04-21
4   2019-04-21
5   2014-07-16
6   2019-04-13
7   2019-04-13
8   2016-07-21
9   2017-07-21
Name: Date_of_Birth, dtype: datetime64[ns]

In [102]:
animal_outcomes['age'] = animal_outcomes['date_outcomes'] - animal_outcomes['Date_of_Birth']

In [109]:
animal_outcomes['age_days'] = animal_outcomes['age'].dt.days

# handles the datetime objects very well. it automatically adjusts for days, even time!
# can you change the precision of this output? yes, many dt methods now available.

In [114]:
# let's drop ugly, inconvenient columns
animal_outcomes.drop(columns = ['MonthYear','Age upon Outcome'])

,Animal ID,Name,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Breed,Color,date_outcomes,Date_of_Birth,age,age_days
0,A800130,Kolby,05/01/2019,Adoption,NaN,Dog,Spayed Female,Boxer,Brown,2019-07-21 22:56:00,2019-05-01,81 days 22:56:00,81
1,A799457,Hazel,07/08/2013,NaN,NaN,Dog,Spayed Female,Pit Bull,Tan/White,2019-07-21 22:55:00,2013-07-08,2204 days 22:55:00,2204
2,A800069,NaN,06/02/2019,Transfer,Partner,Cat,Intact Male,Domestic Shorthair,Orange Tabby,2019-07-21 19:57:00,2019-06-02,49 days 19:57:00,49
3,A795483,*Herb,04/21/2019,Adoption,NaN,Cat,Neutered Male,Domestic Shorthair,Orange Tabby/White,2019-07-21 19:15:00,2019-04-21,91 days 19:15:00,91
4,A795482,*Rain,04/21/2019,Adoption,NaN,Cat,Neutered Male,Domestic Shorthair,Orange Tabby/White,2019-07-21 19:13:00,2019-04-21,91 days 19:13:00,91
5,A800146,Simba,07/16/2014,Adoption,NaN,Cat,Neutered Male,Domestic Longhair,Orange Tabby/White,2019-07-21 19:09:00,2014-07-16,1831 days 19:09:00,1831
6,A799909,NaN,04/13/2019,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair,Tortie,2019-07-21 19:06:00,2019-04-13,99 days 19:06:00,99
7,A799908,NaN,04/13/2019,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair,Orange Tabby/White,2019-07-21 19:05:00,2019-04-13,99 days 19:05:00,99
8,A800468,Lulu,07/21/2016,Return to Owner,NaN,Dog,Intact Female,Pomeranian/Chihuahua Longhair,Buff,2019-07-21 19:03:00,2016-07-21,1095 days 19:03:00,1095
9,A800436,Lady,07/21/2017,Return to Owner,NaN,Dog,Intact Female,Pit Bull,Blue/White,2019-07-21 18:48:00,2017-07-21,730 days 18:48:00,730
10,A800434,Gracie,09/21/2014,Return to Owner,NaN,Dog,Intact Female,Pit Bull,Blue/White,2019-07-21 18:48:00,2014-09-21,1764 days 18:48:00,1764
11,A800440,Chief,07/21/2018,Return to Owner,NaN,Dog,Intact Male,Boston Terrier,Black/White,2019-07-21 18:33:00,2018-07-21,365 days 18:33:00,365
12,A800181,NaN,03/17/2019,Adoption,NaN,Dog,Spayed Female,German Shepherd Mix,Black/Tan,2019-07-21 18:09:00,2019-03-17,126 days 18:09:00,126
13,A800091,NaN,05/25/2019,Transfer,Partner,Cat,Intact Male,Domestic Shorthair Mix,Blue,2019-07-21 17:53:00,2019-05-25,57 days 17:53:00,57
14,A799544,*Piper,05/31/2019,Transfer,Partner,Cat,Intact Male,Domestic Shorthair,Black,2019-07-21 17:53:00,2019-05-31,51 days 17:53:00,51
15,A800129,*Delyse,07/16/2018,Adoption,NaN,Dog,Spayed Female,German Shepherd/Siberian Husky,Brown/Black,2019-07-21 17:53:00,2018-07-16,370 days 17:53:00,370
16,A797152,Domino,04/05/2019,Adoption,NaN,Cat,Neutered Male,Domestic Shorthair,Black/White,2019-07-21 17:51:00,2019-04-05,107 days 17:51:00,107
17,A794647,*Squirtle,11/29/2018,Adoption,NaN,Cat,Neutered Male,Domestic Shorthair,Black,2019-07-21 17:51:00,2018-11-29,234 days 17:51:00,234
18,A800089,NaN,05/25/2019,Transfer,Partner,Cat,Intact Female,Domestic Shorthair Mix,Blue Tabby,2019-07-21 17:48:00,2019-05-25,57 days 17:48:00,57
19,A800088,NaN,05/25/2019,Transfer,Partner,Cat,Intact Male,Domestic Medium Hair Mix,Blue Tabby,2019-07-21 17:48:00,2019-05-25,57 days 17:48:00,57
20,A799675,NaN,05/10/2019,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair,Black/White,2019-07-21 17:35:00,2019-05-10,72 days 17:35:00,72
21,A796429,*June,06/01/2018,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair Mix,Black/White,2019-07-21 17:29:00,2018-06-01,415 days 17:29:00,415
22,A800185,Celest,01/17/2019,Adoption,NaN,Dog,Spayed Female,Labrador Retriever,White,2019-07-21 17:20:00,2019-01-17,185 days 17:20:00,185
23,A793174,*Wilbur,04/20/2017,Adoption,Foster,Dog,Neutered Male,Staffordshire Mix,Blue Cream,2019-07-21 17:20:00,2017-04-20,822 days 17:20:00,822
24,A797011,*Nova,04/23/2019,Adoption,NaN,Cat,Spayed Female,Domestic Medium Hair Mix,Black,2019-07-21 17:20:00,2019-04-23,89 days 17:20:00,89
25,A800467,NaN,07/21/2017,Euthanasia,Rabies Risk,Other,Unknown,Bat,Black,2019-07-21 17:15:00,2017-07-21,730 days 17:15:00,730
26,A800090,NaN,05/25/2019,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair Mix,Blue,2019-07-21 17:15:00,2019-05-25,57 days 17:15:00,57
27,A800065,NaN,05/22/2019,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair,Blue,2019-07-21 17:14:00,2019-05-22,60 days 17:14:00,60
28,A718877,Blacky,07/08/2015,Return to Owner,NaN,Dog,Neutered Male,Labrador Retriever Mix,Black/White,2019-07-21 17:01:00,2015-07-08,1474 days 17:01:00,1474
29,A799757,Daisy,01/11/2019,Adoption,NaN,Dog,Spayed Female,Collie Smooth,Black/White,2019-07-21 16:59:00,2019-01-11,191 days 16:59:00,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...
104412,A663887,Hooch,09/25/2010,Euthanasia,Medical,Dog,Neutered Male,Pit Bull Mix,Red/White,2013-10-01 15:07:00,2010-09-25,1102 days 15:07:00,1102
104413,A663935,NaN,09/26/1999,Transfer,Partner,Dog,Intact Male,Chihuahua Shorthair Mix,Brown,2013-10-01 14:15:00,1999-09-26,5119 days 14:15:00,5119
104414,A663201,Buck,09/14/2011,Transfer,Partner,Dog,Neutered Male,Pit Bull Mix,Brown/White,2013-10-01 14:14:00,2011-09-14,748 days 14:14:00,748
104415,A663955,NaN,09/27/1999,Transfer,Partner,Dog,Intact Female,Chihuahua Shorthair Mix,Black/Tan,2013-10-01 14:13:00,1999-09-27,5118 days 14:13:00,5118
104416,A664171,Knight,12/30/2012,Return to Owner,NaN,Dog,Neutered Male,Basset Hound Mix,Black,2013-10-01 13:59:00,2012-12-30,275 days 13:59:00,275
104417,A663938,NaN,09/27/2003,Euthanasia,Suffering,Dog,Neutered Male,Rottweiler/Labrador Retriever,Black/Tan,2013-10-01 13:16:00,2003-09-27,3657 days 13:16:00,3657
104418,A664260,NaN,09/10/2013,Transfer,Partner,Cat,Intact Female,Domestic Shorthair Mix,Black/White,2013-10-01 13:00:00,2013-09-10,21 days 13:00:00,21
104419,A664261,NaN,09/10/2013,Transfer,Partner,Cat,Intact Female,Domestic Shorthair Mix,Tortie,2013-10-01 13:00:00,2013-09-10,21 days 13:00:00,21
104420,A664262,NaN,09/22/2013,Transfer,Partner,Cat,Intact Male,Domestic Shorthair Mix,Orange Tabby,2013-10-01 12:59:00,2013-09-22,9 days 12:59:00,9
104421,A664263,NaN,09/22/2013,Transfer,Partner,Cat,Intact Male,Domestic Shorthair Mix,Orange Tabby,2013-10-01 12:58:00,2013-09-22,9 days 12:58:00,9
104422,A664271,NaN,09/24/2013,Transfer,Partner,Cat,Intact Female,Domestic Shorthair Mix,Orange Tabby,2013-10-01 12:57:00,2013-09-24,7 days 12:57:00,7
104423,A663495,Pikachu,05/19/2013,Return to Owner,NaN,Cat,Spayed Female,Domestic Shorthair Mix,Torbie,2013-10-01 12:45:00,2013-05-19,135 days 12:45:00,135
104424,A664219,NaN,08/08/2013,Died,In Kennel,Cat,Intact Male,Domestic Shorthair Mix,Blue/White,2013-10-01 12:34:00,2013-08-08,54 days 12:34:00,54
104425,A613553,Beast,05/06/2010,Return to Owner,NaN,Dog,Neutered Male,Pit Bull Mix,Black/White,2013-10-01 12:32:00,2010-05-06,1244 days 12:32:00,1244
104426,A664258,Sylvio,10/01/2006,Return to Owner,NaN,Dog,Neutered Male,Weimaraner Mix,Silver,2013-10-01 12:27:00,2006-10-01,2557 days 12:27:00,2557
104427,A648744,Claire,03/04/2012,Return to Owner,NaN,Dog,Spayed Female,Anatol Shepherd Mix,White/Tricolor,2013-10-01 12:27:00,2012-03-04,576 days 12:27:00,576
104428,A663546,*Gage,09/20/2011,Euthanasia,Aggressive,Dog,Neutered Male,American Bulldog Mix,White/Brown Brindle,2013-10-01 12:24:00,2011-09-20,742 days 12:24:00,742
104429,A664225,Lou,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,Shih Tzu Mix,Gray/White,2013-10-01 12:13:00,2010-09-30,1097 days 12:13:00,1097
104430,A663342,Deco,09/17/2012,Euthanasia,Behavior,Dog,Neutered Male,Chesa Bay Retr Mix,Red/White,2013-10-01 12:05:00,2012-09-17,379 days 12:05:00,379
104431,A656894,Jake,04/22/2013,Adoption,NaN,Cat,Neutered Male,Domestic Shorthair Mix,Black,2013-10-01 11:53:00,2013-04-22,162 days 11:53:00,162
104432,A661795,Blakie,03/25/2013,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair Mix,Tortie,2013-10-01 11:53:00,2013-03-25,190 days 11:53:00,190
104433,A663833,Baby Girl,09/24/2004,Return to Owner,NaN,Dog,Spayed Female,Labrador Retriever Mix,Black,2013-10-01 11:50:00,2004-09-24,3294 days 11:50:00,3294
104434,A663572,*Starla,09/21/2010,Adoption,NaN,Dog,Spayed Female,Anatol Shepherd Mix,White/Brown,2013-10-01 11:42:00,2010-09-21,1106 days 11:42:00,1106
104435,A663888,NaN,09/25/2011,Transfer,Partner,Dog,Spayed Female,Boxer Mix,Red/White,2013-10-01 11:13:00,2011-09-25,737 days 11:13:00,737
104436,A663646,NaN,09/22/2010,Transfer,Partner,Dog,Neutered Male,Toy Poodle Mix,White,2013-10-01 11:12:00,2010-09-22,1105 days 11:12:00,1105
104437,A664223,Moby,09/30/2009,Return to Owner,NaN,Dog,Neutered Male,Bulldog Mix,White,2013-10-01 11:03:00,2009-09-30,1462 days 11:03:00,1462
104438,A664236,NaN,09/24/2013,Transfer,Partner,Cat,Unknown,Domestic Shorthair Mix,Orange/White,2013-10-01 10:44:00,2013-09-24,7 days 10:44:00,7
104439,A664237,NaN,09/24/2013,Transfer,Partner,Cat,Unknown,Domestic Shorthair Mix,Orange/White,2013-10-01 10:44:00,2013-09-24,7 days 10:44:00,7
104440,A664235,NaN,09/24/2013,Transfer,Partner,Cat,Unknown,Domestic Shorthair Mix,Orange/White,2013-10-01 10:39:00,2013-09-24,7 days 10:39:00,7
104441,A659834,*Dudley,07/23/2013,Adoption,Foster,Dog,Neutered Male,Labrador Retriever Mix,Black,2013-10-01 09:31:00,2013-07-23,70 days 09:31:00,70

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [118]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [119]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [121]:
uci.groupby('sex').get_group(0).tail # .tail()

<bound method NDFrame.tail of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
2     41    0   1       130   204    0        0      172      0      1.4
4     57    0   0       120   354    0        1      163      1      0.6
6     56    0   1       140   294    0        0      153      0      1.3
11    48    0   2       130   275    0        1      139      0      0.2
14    58    0   3       150   283    1        0      162      0      1.0
15    50    0   2       120   219    0        1      158      0      1.6
16    58    0   2       120   340    0        1      172      0      0.0
17    66    0   3       150   226    0        1      114      0      2.6
19    69    0   3       140   239    0        1      151      0      1.8
25    71    0   1       160   302    0        1      162      0      0.4
28    65    0   2       140   417    1        0      157      0      0.8
30    41    0   1       105   198    0        1      168      0      0.0
35    46    0   2       142   177    0        0      160      1      1.4
36    54    0   2       135   304    1        1      170      0      0.0
38    65    0   2       155   269    0        1      148      0      0.8
39    65    0   2       160   360    0        0      151      0      0.8
40    51    0   2       140   308    0        0      142      0      1.5
43    53    0   0       130   264    0        0      143      0      0.4
48    53    0   2       128   216    0        0      115      0      0.0
49    53    0   0       138   234    0        0      160      0      0.0
50    51    0   2       130   256    0        0      149      0      0.5
53    44    0   2       108   141    0        1      175      0      0.6
54    63    0   2       135   252    0        0      172      0      0.0
59    57    0   0       128   303    0        0      159      0      0.0
60    71    0   2       110   265    1        0      130      0      0.0
65    35    0   0       138   183    0        1      182      0      1.4
67    45    0   1       130   234    0        0      175      0      0.6
69    62    0   0       124   209    0        1      163      0      0.0
74    43    0   2       122   213    0        1      165      0      0.2
75    55    0   1       135   250    0        0      161      0      1.4
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
147   60    0   3       150   240    0        1      171      0      0.9
151   71    0   0       112   149    0        1      125      0      1.6
153   66    0   2       146   278    0        0      152      0      0.0
154   39    0   2       138   220    0        1      152      0      0.0
155   58    0   0       130   197    0        1      131      0      0.6
161   55    0   1       132   342    0        1      166      0      1.2
167   62    0   0       140   268    0        0      160      0      3.6
181   65    0   0       150   225    0        0      114      0      1.0
182   61    0   0       130   330    0        0      169      0      0.0
190   51    0   0       130   305    0        1      142      1      1.2
204   62    0   0       160   164    0        0      145      0      6.2
207   60    0   0       150   258    0        0      157      0      2.6
213   61    0   0       145   307    0        0      146      1      1.0
215   43    0   0       132   341    1        0      136      1      3.0
216   62    0   2       130   263    0        1       97      0      1.2
220   63    0   0       150   407    0        0      154      0      4.0
223   56    0   0       200   288    1        0      133      1      4.0
241   59    0   0       174   249    0        1      143      1      0.0
246   56    0   0       134   409    0        0      150      1      1.9
252   62    0   0       138   294    1        1      106      0      1.9
258   62    0   0       150   244    0        1      154      1      1.4
260   66    0   0       178   228    1        1      165      1      1.0
263   63    0   0       108   269    0        1      169      1      1.8
266   55    0   0       180   327    0        2      117      1      3.4
278   58    0   1       136   319    1        0      152      0      0.0
289   55    0   0       128   205    0        2      130      1      2.0
292   58    0   0       170   225    1        0      146      1      2.8
296   63    0   0       124   197    0        1      136      1      0.0
298   57    0   0       140   241    0        1      123      1      0.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
2        2   0     2       1
4        2   0     2       1
6        1   0     2       1
11       2   0     2       1
14       2   0     2       1
15       1   0     2       1
16       2   0     2       1
17       0   0     2       1
19       2   2     2       1
25       2   2     2       1
28       2   1     2       1
30       2   1     2       1
35       0   0     2       1
36       2   0     2       1
38       2   0     2       1
39       2   0     2       1
40       2   1     2       1
43       1   0     2       1
48       2   0     0       1
49       2   0     2       1
50       2   0     2       1
53       1   0     2       1
54       2   0     2       1
59       2   1     2       1
60       2   1     2       1
65       2   0     2       1
67       1   0     2       1
69       2   0     2       1
74       1   0     2       1
75       1   0     2       1
..     ...  ..   ...     ...
147      2   0     2       1
151      1   0     2       1
153      1   1     2       1
154      1   0     2       1
155      1   0     2       1
161      2   0     2       1
167      0   2     2       0
181      1   3     3       0
182      2   0     2       0
190      1   0     3       0
204      0   3     3       0
207      1   2     3       0
213      1   0     3       0
215      1   0     3       0
216      1   1     3       0
220      1   3     3       0
223      0   2     3       0
241      1   0     2       0
246      1   2     3       0
252      1   3     2       0
258      1   0     2       0
260      1   2     3       0
263      1   2     2       0
266      1   0     2       0
278      2   2     2       0
289      1   1     3       0
292      1   2     1       0
296      1   0     2       0
298      1   0     3       0
302      1   1     2       0

[96 rows x 14 columns]>

### Aggregating

In [122]:
uci.groupby('sex').std()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,9.409396,0.972427,19.311119,65.088946,0.332455,0.557150,20.047969,0.422503,1.119844,0.593736,0.881026,0.441290,0.435286
1,8.883803,1.059064,16.658246,42.782392,0.366955,0.510754,24.130882,0.484505,1.174632,0.627378,1.074082,0.659949,0.498626

Exercise: Tell me the average cholesterol level for those with heart disease.

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [126]:
animal_outcomes.head()

,Animal ID,Name,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,date_outcomes,Date_of_Birth,age,age_days
0,A800130,Kolby,07/21/2019 10:56:00 PM,05/01/2019,Adoption,NaN,Dog,Spayed Female,2 months,Boxer,Brown,2019-07-21 22:56:00,2019-05-01,81 days 22:56:00,81
1,A799457,Hazel,07/21/2019 10:55:00 PM,07/08/2013,NaN,NaN,Dog,Spayed Female,6 years,Pit Bull,Tan/White,2019-07-21 22:55:00,2013-07-08,2204 days 22:55:00,2204
2,A800069,NaN,07/21/2019 07:57:00 PM,06/02/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Orange Tabby,2019-07-21 19:57:00,2019-06-02,49 days 19:57:00,49
3,A795483,*Herb,07/21/2019 07:15:00 PM,04/21/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby/White,2019-07-21 19:15:00,2019-04-21,91 days 19:15:00,91
4,A795482,*Rain,07/21/2019 07:13:00 PM,04/21/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby/White,2019-07-21 19:13:00,2019-04-21,91 days 19:13:00,91

In [127]:
animal_outcomes.groupby('Animal Type').mean()['age_days'] # will do this for all the numerical data, this happens to be the only one available

Animal Type
Bird          511.893305
Cat           539.735487
Dog          1023.865479
Livestock     419.687500
Other         463.717912
Name: age_days, dtype: float64

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [131]:
animal_outcomes['month'] = animal_outcomes.date_outcomes.map(lambda x : x.month)

In [132]:
animal_outcomes.month.head()

0    7
1    7
2    7
3    7
4    7
Name: month, dtype: int64

In [137]:
animal_outcomes['year'].value_counts()# how many animals adopted each year?

2014    18709
2015    18506
2016    17673
2017    17656
2018    16731
2019    10662
2013     4505
Name: year, dtype: int64

In [136]:
animal_outcomes.groupby('year').size()# how many animals adopted each year?

year
2013     4505
2014    18709
2015    18506
2016    17673
2017    17656
2018    16731
2019    10662
dtype: int64

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [147]:
uci.pivot(values = 'sex', columns = 'target').head(10)# this sorts out the values (sex) as a function of another variable (columns are the values of target)

target   0    1
0      NaN  1.0
1      NaN  1.0
2      NaN  0.0
3      NaN  1.0
4      NaN  0.0
5      NaN  1.0
6      NaN  0.0
7      NaN  1.0
8      NaN  1.0
9      NaN  1.0

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [148]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [151]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

In [152]:
toy1.join()

   age   HP
0   63  142
1   33   47

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here